@media(max-width: 991px){
  .promo{
    &__wrapper{
      align-items: center;
    }
  }
  .consultation{
    .title{
      text-align: center;
      font-size: 30px;
    }
    &__descr{
        margin-top: 35px;
        text-align: center;
        font-size: 20px;
    }
    .form_div{
      display: flex;
      justify-content: center;
    }
  }
}




@media (max-width: 767px){
  .header{
    &__official{
      display: none;
    }
  }
  .promo {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__header {
      font-size: 37px;
    }

    &__subheader {
      font-size: 21px;
      margin-top: 10px;
    }

    &__icons {
      margin-top: 85px;
      width: 386px;
    }

    &__link {
      a{
        font-size: 14px;
      }
    }
    .button_main {
      width: 267px;
      font-size: 15px;
    }
  }

  .benefits{
    &__header{
      font-size: 26px;
    }
    &__wrapper{
      margin-top: 35px;
      justify-content: space-around;
      padding: 0 15px;
      flex-wrap: wrap;

    }
    &__block{
      margin-top:30px;
    }
    &__text{
      width: 200px;
      font-size: 12px;
    }
    &__subtitle{
      font-size: 17px;
    }
  }

  .consultation{
    .title{
      font-size: 25px;
    }
    &__descr{
        font-size: 20px;
    }
    .form_div{
      display: flex;
      justify-content: center;
    }
    .feed-form{
      width: 280px;
    }
  }

}

@media (max-width:575px){
  .header{
    &__phone{
      font-size: 12px;
    }
    &__official{
      display: none;
    }
    &__logo{
      img{
        width: 85%;
      }
    }
    .button{
      font-size: 10px;
      width: 110px;
    }
  }

  .promo{
    &__link{
      font-size: 11px;
    }
    &__header{
      font-size: 27px;
    }
    &__subheader{
      margin: 0;
      font-size: 16px;
    }
    &__icon{
      font-size: 11px;
    }
    &__icons{
      width: 100%;
      margin-top: 115px;
      padding: 0 27px;
    }
    .button_main{
      width: 140px;
      height: 40px;
      font-size: 9px;
    }
  }

  .benefits{
    &__wrapper{
      flex-direction: column;
      margin-top: 7px;
    }
    &__block{
      margin: 27px 0 27px 0;
    }
    &__descr{
      margin-top: 27px;
    }
    &__header{
      font-size: 27px;
    }
  }
  .consultation{
    .title{
      font-size: 18px;
    }
    &__descr{
        font-size: 15px;
    }
    .button__submit{
      font-size: 14px;
    }
  }
}
